@charset "utf-8";

/*
 * 定义变量: $fontsize: 20 
 * 是苹果6的设计稿  字体20
 */

$fontSize: 20;   

/*
 * @function r($px) {} 自定义函数
 */
@function r($px) {
    @return $px/2/$fontSize+rem;
}

@mixin  setPm($name,$val...) {
    $max: length($val);
    $str: "";
    @for $i from 1 through $max {
        $value: nth($val,$i)/2/$fontSize;
        $str: #{$str+$value}rem;
        @if $i < $max {
            $str: #{$str+" "};
        }
    }
    #{$name}: $str;
}
*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: '黑体';

}
input{
    outline: none;

}
a{
    display: block;
     color: #000;
     &:hover, &:focus{
        text-decoration: none;   
     }
}
.bodyo{
    background-color: #ededed !important;
    margin-bottom: r(118) !important;
}